<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="ElQewwxPa5kGkxvoYsxmrE96kdNe9P1VFc9SQc_Of9s" />
    <title>Carot,inc</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="../assetsstylesheets/object/_space.css">
    <link rel="stylesheet" href="responsive.css">
  </head>
  <body>
    <header>
      <div class="header">
        <div class = "header-logo" id="toggle">Carot</div>
        <nav id="menu-box">
          <ul id="menu" class="">
             <li><a href="#">Vision</a></li>
            <li><a href="#">Mission</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Member</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

    </header>
    <div>
      <img src="carot.png" class="carot">
    </div>
    <div class="corp-name">
      <p class="image"><img src = "carot_web.png"></p>
    </div>
    <!-- <img src="maru1.png" class="maru" id="vision"> -->
    <div class="vision-wrapper">
      <img src="maru1.png" class="maru" id="vision">
      <div class="vision">
        <p class="visionlogo">Vision</p>
        <p class="topic1 u-pt-20">”鼓動が高鳴る瞬間を”</p>
        <p class="topic2 u-pt-20">
          社名である人参の花言葉は「幼い夢」です。
          <br>Carotは平均年齢が二十歳にも満たない「幼い」
          5人が、1つのの「夢」を持って設立しました。
          「ドキドキ」や「ワクワク」と言った「鼓動の高鳴り」を人々に、そして我々自身にも生み出す。
          <br>それが我々の「夢」である、
          Carotの掲げるVisionです。</p>
        <div class="moyouleft">
         <img src="moyou2.png" class="moyou u-pt-40 u-mb-20">
        </div>
      </div>

      <div class="mission u-pt-40">
        <img src="maru1.png" class="maru" id="mission">
        <p class="visionlogo">Mission</p>
        <p class="topic1 u-pt-20">”魂を揺さぶる動画を配信する”</p>
        <p class="topic2 u-pt-20">
          テクノロジーの発展により、
          人々が多くの情報を消費する時代になりました。
          <br>ですが現在はデバイスの中に、「情報」どけがあふれかえり、人々が感動できるような「体験」はほとんどありません。
          <br>そこで我々は動画を用いて、
          <br>「情報」ではなく「体験」を人々に届けます。
          <br>Carotは人々の魂を揺さぶる「体験」を発信します。</p>
      </div>
    </div>

    <div class="product">
      <p class="producttext">Product</p>
      <div class="border">
        <img src="border.png" class="moyou">
      </div>
      <div>
        <img src="lapan.png" class="lapan">
      </div>
      <div>
        <p class="lapantext">
Lapanは女性のためのDIYに特化した動画メディアです。<br>
日曜大工のようなDIYではなく、ワンランク上のオシャレになれる方法やファッションのお悩み解決策、誰でもできる簡単セルフネイルなど、1分以内の動画でご紹介します！</p>
      </div>
      <div class="moyouleft">
         <img src="moyou.png" class="moyou" id="product">
        </div>
    </div>

    <div class="member">
    <div class="moyouright">
         <img src="moyou2.png" class="moyou">
        </div>
    <p class="membertext english">Member</p>
    <div class="make_border u-mb-50"></div>

      <div class="membername u-mb-50">
        <img src="riku_urushibara.jpg" class="faceImage"style="border-radius:400px;">
        <p class="role">CEO</p>
        <p class="name">漆原陸</p>
        <p class="englishname">Riku Urushibara</p>
        <p class="self">高校から起業を志し、「高校生のための起業家講座NES」でチームのリーダーとプレゼンターを務め、NES賞と企業賞を受賞。その後「東京大学起業サークルTNK」に入り、サークル内のビジネスコンテストでプレゼンターを務め優勝。月間2000万PVを超えるキュレーションメディアを運営するスタートアップと日本最大級のベンチャーキャピタルでインターンを経験し、メディアの運営とマネジメント、企業のリサーチを学ぶ。また写真館で動画のカメラマンとしてアルバイトの経験がある。19歳で株式会社Carotを設立（or創業）。</p>
      </div>

      <div class="membername u-mb-50">
        <img src="Hayato_Abe.jpg" class="faceImage" style="border-radius:400px;">
        <p class="role">COO</p>
        <p class="name">阿部隼人</p>
        <p class="englishname">Hayato Abe</p>
        <p class="self">5歳の頃より剣道を始め、中学時代には東京都で団体優勝し、関東大会・全国大会への出場を経験。剣道三段所有。中学生の頃にプログラマーという職業に興味を持ち始め、高校生の頃に起業とプログラマーになることを志し、独学でプログラミングを習得。中央大学商学部会計学科・中央大学体育連盟剣道部在籍</p>
      </div>
      <div class="membername u-mb-50">
        <img src="Kenta_tukamoto.jpg" class="faceImage" style="border-radius:400px;">
        <p class="role">CFO</p>
        <p class="name">塚本健太</p>
        <p class="englishname">Kenta Tsukamoto</p>
        <p class="self">4歳の頃より将棋を始め、小学1年生で日本将棋連盟将棋初段を取得。その後9年連続個人、団体で全国大会出場。
島根県から上京した後、CEOと同じく東大起業サークルTNKとベンチャーキャピタルで起業を学ぶ。慶応義塾大学商学部2年在学
</p>
      </div>
      <div class="membername u-mb-50">
        <img src="mio_ishiguro.jpg" class="faceImage"style="border-radius:400px;">
        <p class="role">CCO</p>
        <p class="name">石黒澪</p>
        <p class="englishname">Mio Ishiguro</p>
        <p class="self">幼い頃からものづくりが好きで、飛び出すカードを作成したり漫画やイラストをずっと描いて友達や家族に喜んでもらうのが好きだった。ものづくりを仕事にすることは断念していたが大学1年次にスタートアップでデザイナーとしてインターンをした経験から
本格的にデザイナーとして学ぶことを決意。carotではUIデザインを始め、CIを担当する。
横浜市立大学在学。</p>
      </div>

      <div class="moyouleft">
        <img src="moyou2.png" class="moyou">
      </div>
    </div>
    <div class="about">
      <p class="topic1" id="about">会社概要</p>
      <div class="border">
        <img src="border2.png" class="moyou">
      </div>
      <p class="abouttext">社名：株式会社Carot<br>
      設立日：2017年6月12日<br>
      事業内容：事業内容動画メディア事業<br>
      代表取締役：代表取締役 漆原陸<br>
      所在地：東京都板橋区板橋三丁目9番12－201号<br>
      e-mail: info@carot.co.jp
      </p>
    </div>
    <div class="form">
      <p class="contact" id = "form">Contact</p>
      <div class="make_border2"></div>
      <form action="/my-handling-form-page" method="post" id="carot-form">
    <div class="input">
        <input type="text" id="name" name="user_name" placeholder ="お名前" style="border:none;" />
    </div>
    <div class="input">
        <input type="email" id="mail" name="user_email" placeholder = "メールアドレス" style="border:none;"/>
    </div>
    <div class="input" id="inputend">
        <textarea id="msg" name="user_message" placeholder = "メッセージ" style="border:none;"></textarea>
    </div>

    <div class="button">
        <button type="submit" id="button">送信</button>
    </div>
</form>
    </div>


    <footer>
      <div class="footer">
        <img src="logo.png" class="carotlogo">
      </div>
      <!-- <div class="footertext u-pt-20">
        〒173-0004<br>
        東京都板橋区板橋3丁目9番地12−201号<br>
        info@carot.co.jp<br>
      </div> -->
      <div class="moyouright" id="footer">
         <img src="moyou2.png" class="moyou">
      </div>

    </footer>

  </body>
</html>
