<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="ElQewwxPa5kGkxvoYsxmrE96kdNe9P1VFc9SQc_Of9s" />
    <title>Carot,inc</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="./object/_space.css">
  </head>
  <body>
    <header>
      <div class="header">
        <div class = "header-logo" id="toggle">Carot</div>
        <nav id="menu-box">
          <ul id="menu" class="">
             <li><a href="#">Vision</a></li>
            <li><a href="#">Mission</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Member</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

    </header>
    <div>
      <img src="carot.png" class="carot">
    </div>
    <div class="corp-name">
      <p class="image"><img src = "carot_web.png"></p>
    </div>
    <!-- <img src="maru1.png" class="maru" id="vision"> -->
    <div class="vision-wrapper">
      <img src="maru1.png" class="maru" id="vision">
      <div class="vision u-pt-100">
        <p class="vision__logo">Vision</p>
        <p class="topic1 u-pt-20">”鼓動が高鳴る瞬間を”</p>
        <p class="topic2 u-pt-20">
          社名である人参の花言葉は「幼い夢」です。
          <br>Carotは平均年齢が二十歳にも満たない「幼い」
          <br>４人が、１つのの「夢」を持って設立しました。
          <br>「ドキドキ」や「ワクワク」と言った「鼓動の高鳴り」を人々に、そして我々自身にも生み出す。
          <br>それが我々の「夢」である、
          <br>Carotの掲げるVisionです。</p>
        <div class="moyouleft">
         <img src="moyou2.png" class="moyou u-pt-40 u-mb-20">
        </div>
      </div>

      <div class="mission u-pt-40">
        <img src="maru1.png" class="maru maru2">
        <p class="vision__logo">Mission</p>
        <p class="topic1 u-pt-20">”魂を揺さぶる動画を配信する”</p>
        <p class="topic2 u-pt-20">
          テクノロジーの発展により、
          <br>人々が多くの情報を消費する時代になりました。
          <br>ですが現在はデバイスの中に、「情報」どけがあふれかえり、人々が感動できるような「体験」はほとんどありません。
          <br>そこで我々は動画や360度コンテンツを用いて、
          <br>「情報」ではなく「体験」を人々に届けます。
          <br>Carotは人々の魂を揺さぶる「体験」を発信します。</p>
      </div>
    </div>

    <div class="product">
      <p class="producttext">Product</p>
      <div class="border">
        <img src="border.png" class="moyou">
      </div>
      <div class="moyouleft">
         <img src="moyou.png" class="moyou" id="product">
        </div>
    </div>

    <div class="member">
    <div class="moyouright">
         <img src="moyou2.png" class="moyou">
        </div>
    <p class="membertexr">Member</p>
    <div class="make_border"></div>

      <div class="membername">
        <img src="faceRomio.png" class="faceImage" width="100" height="100" style="border-radius:400px;">
        <p class="role">CEO</p>
        <p class="name">漆原陸</p>
        <p class="englishname">Riku Urushibara</p>
      </div>

      <div class="membername">
        <img src="faceRomio.png" class="faceImage" width="100" height="100" style="border-radius:400px;">
        <p class="role"></p>
        <p class="name">阿部隼人</p>
        <p class="englishname">Hayato Abe</p>
      </div>
      <div class="membername">
        <img src="faceRomio.png" class="faceImage" width="100" height="100" style="border-radius:400px;">
        <p class="role"></p>
        <p class="name">塚本健太</p>
        <p class="englishname">Kenta Tsukamoto</p>
      </div>
      <div class="membername">
        <img src="faceRomio.png" class="faceImage" width="100" height="100" style="border-radius:400px;">
        <p class="role"></p>
        <p class="name">石黒澪</p>
        <p class="englishname">Mio Ishiguro</p>
      </div>

      <div class="moyouleft">
        <img src="moyou2.png" class="moyou">
      </div>
    </div>
    <div class="about">
      <p class="topic1" id="about">会社概要</p>
      <div class="border">
        <img src="border2.png" class="moyou">
      </div>
      <p class="abouttext">社名：株式会社Carot<br>
      設立日：2017年6月12日<br>
      資本金：10万円<br>
      事業内容：事業内容動画メディア事業<br>
      代表取締役：代表取締役 漆原陸<br>
      所在地：東京都板橋区板橋三丁目９番１２－２０１号<br>
      </p>
    </div>
    <div class="form">
      <p class="topic1" id = "form">Contact</p>
      <div class="make_border2"></div>
      <form action="/my-handling-form-page" method="post" id="carot-form">
    <div class="input">
        <input type="text" id="name" name="user_name" placeholder ="お名前" style="border:none;" />
    </div>
    <div class="input">
        <input type="email" id="mail" name="user_email" placeholder = "メールアドレス" style="border:none;"/>
    </div>
    <div class="input" id="inputend">
        <textarea id="msg" name="user_message" placeholder = "メッセージ" style="border:none;"></textarea>
    </div>

    <div class="button">
        <button type="submit" id="button">送信</button>
    </div>
</form>
    </div>


    <footer>
      <div class="footer">
        <img src="logo.png" class="carotlogo">
      </div>
      <div class="moyouright" id="footer">
         <img src="moyou2.png" class="moyou">
      </div>
    </footer>

  </body>
</html>
